
.content p,.p,
.content li, .li{
	font-size: 20rem;
	line-height: 28rem;
}

.content ul, .content ol{

}

.content b,.b{
}

.content a,.a{

}

.h1, .content h1,
.h2, .content h2,
.h3, .content h3,
.h4, .content h4,
.h5, .content h5,
.h6, .content h6,{
	font-family: 'Heading Pro';
	font-weight: bold;
	text-transform: uppercase;
}

.align-center {
	text-align: center;
}

.p24 {
	margin-top: 20rem;
	font-size: 24rem;
	font-weight: 500;
	line-height: 32/24*1;
}

.p28 {
	margin-top: 25rem;
	font-size: 28rem;
	line-height: 38/28*1;
}

.h1, .content h1{
	font-size: 100rem;
	line-height: 1;
	@include letter-spacing(100,-25);
}

.h2, .content h2{
	font-size: 70rem;
	line-height: 1;
	@include letter-spacing(70,-25);
}

.h3, .content h3{
	font-size: 50rem;
	@include letter-spacing(50,-25);
}

.h4, .content h4{
	font-size: 42rem;
	line-height: 1;
	@include letter-spacing(42,-25);
}

.h5, .content h5{
}


.h6, .content h6{
}	
@include max-screen($large_mobile) {
	.h1, .content h1{
		font-size: 50rem;
	}
	.h2, .content h2{
		font-size: 45rem;
	}
	.h3, .content h3{
		font-size: 32rem;
	}
	.p24 {
		margin-top: 20rem;
		font-size: 18rem;
		line-height: 26rem;
	}
	.h4, .content h4{
		font-size: 32rem;
		@include letter-spacing(32,-25);
	}
}

@media screen and (max-width: 359px) {
	.h1, .content h1{
		font-size: 45rem;
	}
	.h3, .content h3{
		font-size: 28rem;
	}
}