extends ../layouts/base

append vars
	- title = 'Главная'

block content
	include ../layouts/main
	include ../layouts/category
	include ../layouts/products
	include ../layouts/calc-badges
	include ../layouts/holder
	include ../layouts/video
	include ../layouts/contact
	include ../layouts/footer