+b.calc-badges
	+e.wrap.wrap
		+e.calc-wrap
			+e.IMG.img-calc(src="/img/online__calc.png")
			+e.calc.calc.calc__
		+e.discount.discount__
			+e.cube1
			+e.cube2
			+e.wrap.align-center
				+e.H2.title.h2
					| Скидки предоставляются 
					br
					| от объема заказа!
				+e.A.btn.btn._orange.btn__.js-modal(href="#product")
					+e.icon-calc
						img(src="/img/calc-icon-orange.png")
					+e.text
						| Рассчитать скидку 
						br
						| от объема