+b.category
	+e.wra.wrap
		+e.slider.js-slider.owl-carousel.slider__
			+e.slide
				+e.item
					+e.H2.title.h2 ШЕЛКОГРАФИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом шелкографии
					+e.center
						+e.preview
							img(src="/img/slide1.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 ШЕЛКОГРАФИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом шелкографии
					+e.center
						+e.preview
							img(src="/img/slide2.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 ШЕЛКОГРАФИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом шелкографии
					+e.center
						+e.preview
							img(src="/img/slide3.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 ШЕЛКОГРАФИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом шелкографии
					+e.center
						+e.preview
							img(src="/img/slide1.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 ШЕЛКОГРАФИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом шелкографии
					+e.center
						+e.preview
							img(src="/img/slide2.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 ШЕЛКОГРАФИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом шелкографии
					+e.center
						+e.preview
							img(src="/img/slide3.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
		+e.slider.js-slider.owl-carousel.slider__
			+e.slide
				+e.item
					+e.H2.title.h2 СУБЛИМАЦИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом сублимации
					+e.center
						+e.preview
							img(src="/img/slide2.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 СУБЛИМАЦИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом сублимации
					+e.center
						+e.preview
							img(src="/img/slide1.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 СУБЛИМАЦИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом сублимации
					+e.center
						+e.preview
							img(src="/img/slide3.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 СУБЛИМАЦИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом сублимации
					+e.center
						+e.preview
							img(src="/img/slide2.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 СУБЛИМАЦИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом сублимации
					+e.center
						+e.preview
							img(src="/img/slide1.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену
			+e.slide
				+e.item
					+e.H2.title.h2 СУБЛИМАЦИЯ
					+e.desc.p24
						| Примеры изготовленных лент для бейджей 
						br
						| методом сублимации
					+e.center
						+e.preview
							img(src="/img/slide3.png")
						+e.arrow._prev
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next
							+icon('select__arrow','0 0 24 15.28')
					+e.A.btn.btn._orange._fill.js-modal(href="#recall") узнать цену