+b.contact
	+e.form
		+e.manager
			+e.manager-foto
				img(src="/img/woman.png")
			+e.manager-info
				+e.manager-name.h3
					| Волчанская 
					br
					| Валерия
				+e.manager-work
					| Менеджер производства
		+e.form-content
			+e.H2.form-title.h2
				| Остались вопросы?
			+e.form-desc
				| Заполните форму и я свяжусь 
				br
				| с Вами в течение 3-х минут!
			+e.A.form-tel(href="tel:+74951662424") +7 495 166 24 24
			+e.form-bottom.flex
				.btn-wrap
					+e.A.form-btn.btn._orange._fill.btn__.js-modal(href="#recall")
						+e.text
							| ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
					.btn-wrap__arrow
						img(src="/img/product__arrow.png")
	+e.wrap.wrap
		+e.bottom
			+e.H2.bottom-title.h2
				| Приезжайте к нам в гости! 
				br
				| Будем рады показать и рассказать 
				br
				| о нашей компании лично!
			+e.bottom-list
				+e.bottom-item._tel
					+e.icon-tel
						img(src="/img/phone.png")
					+e.A.bottom-tel(href="tel:+74951662424") +7 495 166 24 24
				+e.bottom-item._email
					+e.icon-email
						img(src="/img/email.png")
					+e.A.bottom-email(href="mailto:sales@promoshnurok.ru") sales@promoshnurok.ru
				+e.bottom-item._adress
					+e.icon-adress
						img(src="/img/adress.png")
					+e.adress-title 
						| Наш адрес:
					+e.adress-text
						| г. Москва, ст. м. Таганская кольцевая 
						br
						| или Марксистская,  ул. Александра Солженицына 
						br
						| (Большая Коммунистическая), д. 11, стр.3
					+e.company-info
						| ООО «Промошнурок» 
						br
						| ИНН 7840043235, КПП 784001001 
						br
						| Расчетный счет: р/сч 40702810600024847309 
						br
						| в Петербургском филиале АО Юникредит банке г. Санкт-Петербурга 
						br
						| к/30101810800000000858, БИК 044030858
			+e.IMG.bottom-img(src="/img/contact__img.png")