+b.FOOTER.footer
	+e.wra.wrap
		+e.row.flex._justify._vertical
			+e.A.logo(href="main.html")
				img(src="/img/logo.png")
			+e.nav.flex
				+e.A.link.js-modal(href="#shnurok") 
					| Калькулятор 
					br
					| шнурки
				+e.A.link.js-scroll-to(href="#products") 
					| Готовая 
					br
					| продукция
				+e.A.link.js-modal(href="#badges") 
					| Калькулятор 
					br
					| бейджи
				+e.A.link.js-scroll-to(href="#holder") 
					| Держатели 
					br
					| для бейджей
			+e.contact
				+e.A.tel(href="tel:+74951662424") +7 495 166 24 24
				+e.A.email(href="mailto:sales@promoshnurok.ru") sales@promoshnurok.ru