+b.HEADER.header
	+e.row.flex._justify._vertical
		+e.A.logo(href="/main.html")
			img(src="/img/logo.png")
		+e.center.flex_vertical
			+e.calc-btn.calc-btn__.js-modal(data-modal="#shnurok")
				+e.icon
					img(src="/img/calculator-icon.png")
				+e.text
					| Калькулятор 
					br
					| шнурки
			+e.calc-btn.calc-btn__.js-modal(data-modal="#badges")
				+e.icon
					img(src="/img/calculator-icon.png")
				+e.text
					| Калькулятор 
					br
					| бейджи
		+e.contact
			+e.A.tel(href="tel:+74951662424") +7 495 166 24 24
			+e.A.email(href="mailto:sales@promoshnurok.ru") sales@promoshnurok.ru