+b.holder#holder
	+e.wrap.wrap
		+e.H2.title.align-center.h2
			| Держатели для бейджей 
			br
			| всегда в наличии на нашем складе
		+e.center.flex_center
			.btn-wrap
				+e.IMG.img-left(src="/img/holder__left.png")
				+e.IMG.img-right(src="/img/holder__right.png")
				+e.A.btn.btn._orange.btn__.js-modal(href="#product")
					+e.icon-calc
						img(src="/img/calc-icon-orange.png")
					+e.text
						| Рассчитать
				.btn-wrap__arrow
					img(src="/img/product__arrow.png")