+b.products#products
	+e.wrap.wrap
		.align-center
			+e.H2.title.h2 Готовая продукция
			+e.desc.p24
				| Мы понимаем, что в бизнесе и в жизни, порой решения 
				br
				| принимаются спонтанно. Но мы готовы к этому, и рады вам 
				br
				| предложить готовую продукцию на складе.
		+e.list.flex_justify
			+e.item
				+e.preview
					img(src="/img/product1.jpg")
				+e.title.p
					| Шнурки без нанесения с карабином
				+e.desc.p
					| Шириной - 10 мм
				+e.A.btn.btn.js-modal(href="#recall",data-info="Шнурки без нанесения с карабином, Шириной - 10 мм") заказать
			
			+e.item
				+e.preview
					img(src="/img/product2.jpg")
				+e.title.p
					| Шнурки без нанесения с карабином
				+e.desc.p
					| Шириной - 15 мм
				+e.A.btn.btn.js-modal(href="#recall",data-info="Шнурки без нанесения с карабином, Шириной - 15 мм") заказать
			+e.item
				+e.preview
					img(src="/img/product3.jpg")
				+e.title.p
					| Шнурки без нанесения с карабином
				+e.desc.p
					| Шириной - 20 мм
				+e.A.btn.btn.js-modal(href="#recall",data-info="Шнурки без нанесения с карабином, Шириной - 20 мм") заказать
			+e.item
				+e.preview
					img(src="/img/product4.jpg")
				+e.title.p
					| Шнурки без нанесения с клипсой
				+e.desc.p
					| Шириной - 10 мм
				+e.A.btn.btn.js-modal(href="#recall",data-info="Шнурки без нанесения с клипсой, Шириной - 10 мм") заказать
			+e.item
				+e.preview
					img(src="/img/product5.jpg")
				+e.title.p
					| Шнурки без нанесения с клипсой
				+e.desc.p
					| Шириной - 15 мм
				+e.A.btn.btn.js-modal(href="#recall",data-info="Шнурки без нанесения с клипсой, Шириной - 15 мм") заказать
			+e.item
				+e.preview
					img(src="/img/product6.jpg")
				+e.title.p
					| Шнурки без нанесения с клипсой
				+e.desc.p
					| Шириной - 20 мм
				+e.A.btn.btn.js-modal(href="#recall",data-info="Шнурки без нанесения с клипсой, Шириной - 20 мм") заказать
		+e.sale
			+e.sale-head
				+e.sale-bg
				+e.H3.sale-title.h4 Рекламным агенствам предоставляем выгодные условия сотрудничества
			+e.sale-bottom.flex_center
				.btn-wrap
					+e.A.sale-btn.btn._orange.btn__.js-modal(href="#recall")
						+e.text
							| сотрудничать
					.btn-wrap__arrow
						img(src="/img/product__arrow.png")