+b.thanks
	+e.wrap.wrap
		+e.IMG.img-left(src="/img/thanks__left.png")
		+e.IMG.img-right(src="/img/thanks__right.png")
	+e.top-layer
	+e.top
		+b.HEADER.header
			+e.wrap.wrap
				+e.row.flex._justify._vertical
					+e.A.logo(href="/main.html")
						img(src="/img/logo.png")
					+e.center.flex_vertical
						+e.center-text Качество по разумной цене!
					+e.contact
						+e.A.tel(href="tel:+74951662424") +7 495 166 24 24
						+e.A.email(href="mailto:sales@promoshnurok.ru") sales@promoshnurok.ru
	+e.center
		+e.wrap.wrap
			+e.H2.title.h3
				| ВАША ЗАЯВКА ОТПРАВЛЕНА 
				br
				| БЛАГОДАРИМ ЗА ОКАЗАННОЕ ДОВЕРИЕ! 
				br
				| НАШ МЕНЕДЖЕР СВЯЖЕТСЯ С ВАМИ 
				br
				| В ТЕЧЕНИе 3-Х МИНУТ!
			+e.btn-wrap.btn-wrap
				+e.A.btn.btn._violet.btn__(href="main.html")
					+e.line
					+e.text вернуться на главную
				.btn-wrap__arrow
					img(src="/img/main__arrow.png")
	+e.bottom
		include footer