+b.video-screen
	+e.wrap.wrap
		+e.slider.js-slider.js-video-slider.owl-carousel.slider__
			+e.slide
				+e.item
					+e.H2.title.h2 Посмотрите наши видео
					+e.desc.p24
						| Качество по разумной цене за счет собственного 
						br
						| производства и профессиональной команды!
					+e.center
						+e.video.js-play(data-video='<iframe src="https://www.youtube.com/embed/ql9R99IvTCM?autoplay=1&amp;loop=1&amp;&amp;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
							img(src="/img/video_preview.jpg")
							+e.video-btn
								+e.video-icon
								+e.video-text Включить видео
							.js-video
						+e.arrow._prev.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
			+e.slide
				+e.item
					+e.H2.title.h2 Посмотрите наши видео
					+e.desc.p24
						| Качество по разумной цене за счет собственного 
						br
						| производства и профессиональной команды!
					+e.center
						+e.video.js-play(data-video='<iframe src="https://www.youtube.com/embed/ql9R99IvTCM?autoplay=1&amp;loop=1&amp;&amp;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
							img(src="/img/video_preview.jpg")
							+e.video-btn
								+e.video-icon
								+e.video-text Включить видео
							.js-video
						+e.arrow._prev.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
			+e.slide
				+e.item
					+e.H2.title.h2 Посмотрите наши видео
					+e.desc.p24
						| Качество по разумной цене за счет собственного 
						br
						| производства и профессиональной команды!
					+e.center
						+e.video.js-play(data-video='<iframe src="https://www.youtube.com/embed/ql9R99IvTCM?autoplay=1&amp;loop=1&amp;&amp;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
							img(src="/img/video_preview.jpg")
							+e.video-btn
								+e.video-icon
								+e.video-text Включить видео
							.js-video
						+e.arrow._prev.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
			+e.slide
				+e.item
					+e.H2.title.h2 Посмотрите наши видео
					+e.desc.p24
						| Качество по разумной цене за счет собственного 
						br
						| производства и профессиональной команды!
					+e.center
						+e.video.js-play(data-video='<iframe src="https://www.youtube.com/embed/ql9R99IvTCM?autoplay=1&amp;loop=1&amp;&amp;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
							img(src="/img/video_preview.jpg")
							+e.video-btn
								+e.video-icon
								+e.video-text Включить видео
							.js-video
						+e.arrow._prev.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
			+e.slide
				+e.item
					+e.H2.title.h2 Посмотрите наши видео
					+e.desc.p24
						| Качество по разумной цене за счет собственного 
						br
						| производства и профессиональной команды!
					+e.center
						+e.video.js-play(data-video='<iframe src="https://www.youtube.com/embed/ql9R99IvTCM?autoplay=1&amp;loop=1&amp;&amp;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
							img(src="/img/video_preview.jpg")
							+e.video-btn
								+e.video-icon
								+e.video-text Включить видео
							.js-video
						+e.arrow._prev.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
			+e.slide
				+e.item
					+e.H2.title.h2 Посмотрите наши видео
					+e.desc.p24
						| Качество по разумной цене за счет собственного 
						br
						| производства и профессиональной команды!
					+e.center
						+e.video.js-play(data-video='<iframe src="https://www.youtube.com/embed/ql9R99IvTCM?autoplay=1&amp;loop=1&amp;&amp;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
							img(src="/img/video_preview.jpg")
							+e.video-btn
								+e.video-icon
								+e.video-text Включить видео
							.js-video
						+e.arrow._prev.js-remove-video
							+icon('select__arrow','0 0 24 15.28')
						+e.arrow._next.js-remove-video
							+icon('select__arrow','0 0 24 15.28')